.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 170px;
    padding: 30px;
    color: white;
    margin-bottom: 20px;
}

.App-intro {
    font-size: large;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #A0A0A0;
    opacity: 0.6;
    z-index: 9999;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
